<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}
    <script type="text/javascript" src="/assets_perso/js/mapdata.js"></script>
    <script type="text/javascript" src="/assets_perso/js/worldmap.js"></script>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        simplemaps_worldmap.load();
      });
    </script>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
