<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body>
  {% include header.html %}
  <main class="content" role="main">
    {{ content }}
</body>

<footer id="team">
  <h3>Team</h3>
  <div class="team-member">
    <p>Alexandre Huou</p>
    <a href="https://github.com/ahuou"><img src="assets/images/git-icon.png" alt="GitHub" width="30"></a>
    <a href="mailto:alexandre.huou@epfl.ch"><img src="assets/images/email-icon.png" alt="Email" width="30"></a>
  </div>
  <div class="team-member">
    <p>Donia Gasmi</p>
    <a href="https://github.com/DoniaGasmii"><img src="assets/images/git-icon.png" alt="GitHub" width="30"></a>
    <a href="mailto:donia.gasmi@epfl.ch"><img src="assets/images/email-icon.png" alt="Email" width="30"></a>
  </div>
  <div class="team-member">
    <p>Rim El Qabli</p>
    <a href="https://github.com/rimelq"><img src="assets/images/git-icon.png" alt="GitHub" width="30"></a>
    <a href="mailto:rim.elqabli@epfl.ch"><img src="assets/images/email-icon.png" alt="Email" width="30"></a>
  </div>
  <div class="team-member">
    <p>Lily Gilibert</p>
    <a href="https://github.com/NeyLLcrevette"><img src="assets/images/git-icon.png" alt="GitHub" width="30"></a>
    <a href="mailto:lily.gilibert@epfl.ch"><img src="assets/images/email-icon.png" alt="Email" width="30"></a>
  </div>
  <div class="team-member">
    <p>Zeineb Mellouli</p>
    <a href="https://github.com/zaynebmellouli"><img src="assets/images/git-icon.png" alt="GitHub" width="30"></a>
    <a href="mailto:zeineb.mellouli@epfl.ch"><img src="assets/images/email-icon.png" alt="Email" width="30"></a>
  </div>
</footer>
</body>

</html>
